.react-tabs__tab-list{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    li{
        font-size: 20px;
        padding: 10px 24px;
        margin-right: 2px;
        background-color: #F8F8F8;
        margin-bottom: 2px;
        cursor: pointer;
    }
    .react-tabs__tab--selected{
        background-color:#FFF5F5 ;
        font-weight: bold !important;
    }
}