.page_title{
    transform: rotate(-180deg);
    position: absolute;
    left: -3px;
    text-transform: uppercase;
    bottom: 250px; 
    writing-mode: tb-rl;
   padding: 10px 3px 10px 0 ;
   background-color: #fff;
}