.page_title{
    transform: rotate(-180deg);
    position: absolute;
    left: -3px;
    top: 100px;
    // bottom: 250px; 
    writing-mode: tb-rl;
   padding: 10px 3px 10px 0 ;
   background-color: #fff;
}