.error{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 222;
    background-color: #FF6D6D;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    max-width: 250px;
}